<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form method="GET">
        <table><tbody>
        <tr><td>ID_artist</td><td>Name</td><td>Country</td>
            <td>Genre</td><td>Years_active</td></tr>

        <tr>
            <td>{{artist.artist_id}}</td>
            <td>{{artist.name}}</td>
            <td>{{artist.country}}</td>
            <td>{{artist.genre}}</td>
			<td>{{artist.years_active}}</td>
        </tr>
            </tbody></table>
        <br>
    </form>
</body>
</html>