<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
  <p>Application </p>
  <form action=/add_edit_artist method="GET">
    <table>
      <tbody>
        <tr>
          <td>ID_artist:</td>
          <td>
            <input name="id" type="number" />
          </td>
        </tr>
        <tr>
          <td>Name:</td>
          <td>
            <input name="name" />
          </td>
        </tr>
        <tr>
          <td>Country:</td>
          <td>
            <input name="country" type="text" />
          </td>
        </tr>
        <tr>
          <td>Genre:</td>
          <td>
            <input name="genre" type="text" />
          </td>
        </tr>
        <tr>
          <td>Years_active:</td>
          <td>
            <input name="years" type="text" />
          </td>
        </tr>
        <tr>
            <td><input name="post" type="submit" value="Add"></td>
            <td><input name="put" type="submit" value="Edit"></td>
        </tr>
      </tbody>
    </table>
  </form>
</html>