<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form method="POST">
    <div>
        <h1>HOME</h1>

        <input type="button" name="get_track" onclick="location.href='http://localhost:27010/tracks'" method="GET" value="Показать список треков"/>

        <input type="submit" name="track_by_id" value="Показать/удалить трек"/>

        <input type="submit" name="update_track" value="Добавить/редактировать трек"/>
        <br><br>
        <input type="button" name="get_artist" onclick="location.href='http://localhost:27010/artists'" method="GET" value="Показать список артистов"/>

        <input type="submit" name="artist_by_id" value="Показать артиста"/>

        <input type="submit" name="p_artists" value="Добавить/редактировать артиста"/>
        <br><br>
        <input type="button" name="me" onclick="location.href='http://localhost:27010/me'" method="GET" value="Информация о пользователе"/>
        <br><br>
        <input type="button" name="logout" onclick="location.href='http://localhost:27010/logout'" method="GET" value="Разлогиниться"/>
        </div>
</form>
</body>
</html>