<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form>
        <table><tbody>
        <td>ID_artist</td><td>Name</td></tr>
        {% for artist in artists %}
        <tr>
            <td>{{artist.artist_id}}</td>
            <td>{{artist.name}}</td>
        </tr>
        {% endfor %}
        </tbody></table>
        <br>
        Page: {{page}}
        <br>
		{% if page>0 %}
		<a href="/artists?page={{page-1}}&page_count={{page_count}}">Prev</a>
		{% endif %}
		{% if page < page_count %}
		<a href="/artists?page={{page+1}}&page_count={{page_count}}">Next</a>
		{% endif %}
    </form>
</body>
</html>