<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form>
        <table>
		<tbody>
        <tr><td>ID</td><td>ID_artist</td><td>Track</td></tr>
        {% for track in tracks %}
        <tr>
            <td>{{track.id}}</td>
            <td>{{track.artist_id}}</td>
            <td>{{track.track}}</td>
        </tr>
        {% endfor %}
        </tbody>
		</table>
        <br>
        Page: {{page}}
        <br>
		{% if page>1 %}
		<a href="/tracks?page={{page-1}}&page_count={{page_count}}">Prev</a>
		{% endif %}
		{% if page < page_count %}
		<a href="/tracks?page={{page+1}}&page_count={{page_count}}">Next</a>
		{% endif %}
    </form>
</body>
</html>