<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form action=/home method="GET">
        <table>
		<tbody>
        <tr><td>User:</td>
		<td>{{user.name}}</td>
		</tr>
		<tr>
		<td>FirstName:</td>
		<td>{{user.fname}}</td>
		</tr>
		<tr>
		<td>LastName:</td>
		<td>{{user.lname}}</td>
		</tr>
		<tr>
		<td>Telephone:</td>
		<td>{{user.tel}}</td>
		</tr>
		<tr>
		<td>Email:</td>
		<td>{{user.email}}</td>
		</tr>
        </tbody>
		</table>
        <input type="submit" value="Home" name="home"></>
    </form>
</body>
</html>